# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
node_modules/
backup/

# Build artefacts
build/
dist/
*.egg-info/

# Allow profiler UI build output
!rheidos/compute/profiler/ui/dist/
!rheidos/compute/profiler/ui/dist/**

# Compiled bytecode
*.so

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Panda3D screenshots/videos
*.png
*.jpg
*.mp4
*.mov

# Logs
*.log
